extends layout

block content
  h1= title
  p Welcome to #{title}
  p These microservices communicate thought RabbiqMQ .
  p Source code:
    a(href='https://github.com/Arham-Dev1/nodejs-microservices.git') GitHub
